@page
@model TMSWeb_Core.Pages.NhaKhach.EditLichModel
@using TMS_ModelCore.Models

@{
    ViewData["Title"] = "Chỉnh sửa lịch";
    Layout = "~/Pages/Shared/_Layout_NhaKhach.cshtml";
}


<h2 class="content-block titlePage">Chỉnh sửa lịch</h2>

<form id="form" method="post" enctype="multipart/form-data" style="margin-top: 20px; " onsubmit="return validateForm()">
    @Html.AntiForgeryToken()
    <!-- Thông tin đề nghị -->
    <div class="dx-field" style="margin-bottom: 30px;">
        <h4 class="show-text"><i class="far fa-calendar"></i> Thông tin đề nghị</h4>

        <div class="dx-field row">
            <div class="col">
                <div class="dx-field-label">Người đặt</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DropDownBox().ID("NguoiDatId").Name("NguoiDatId")
                        .DataSource(d => d.OData().Version(4)
                        .Url("https://tms.tvu.edu.vn:10220/api/Vienchucs").Expand("TaiKhoan")
                        .Key("Id").BeforeSend("dvtm")
                        )
                        .DataSourceOptions(d => d.Filter(" ['LoaiVienChucId', '<>', 2223] "))
                        .ValueExpr("Id")
                        .DisplayExpr(new JS("nguoidat_displayExpr"))
                        .DataSourceOptions(d =>
                        {
                            d.Select(new string[] { "Id", "Ho", "TenDem", "Ten", "MaVienchuc", "FullName" });
                            d.Paginate(true);
                        })
                        .Value(Model.DatPhong.NguoiDatId)
                        .DeferRendering(true)
                        .ShowClearButton(true)
                        .ValidationMessageMode(ValidationMessageMode.Always)        
                        .ReadOnly(true)
                        )
                </div>
            </div>
            <div class="col">
                <div class="dx-field-label">Đề nghị</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Lookup().ID("DeNghiId").Name("DeNghiId")
                        .DataSource(d => d.OData().Version(4)
                        .Url("https://tms.tvu.edu.vn:10220/api/GhDeNghis")
                        .Key("Id").BeforeSend("dvtm")
                        ).DisplayExpr(new JS("denghi_displayExpr")).ValueExpr("Id")
                        .DataSourceOptions(f => f.Filter("[ ['TinhTrangId', '<>', 8] ]"))
                        .ShowClearButton(true)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        .Value(Model.DatPhong.DeNghiId)
                        ///.ReadOnly(true)
                        )
                </div>
            </div>
        </div>
        <!-- Biểu tượng loading-->
        <div id="load" style="display: none;color: #007bff; margin-top:5px;">
            &nbsp; <i class="fas fa-spinner"></i> Đang tải thông tin đề nghị ...
        </div>
        <div class="dx-field row" style="margin-right: -15px !important; margin-left: -15px !important;">
            <div class="col">
                <div class="dx-field-label">Đơn vị đặt</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DropDownBox().ID("DonViId").Name("DonViId")
                        .DataSource(d => d.OData().Version(4)
                        .Url("https://tms.tvu.edu.vn:10220/api/DonVis").Expand("Parent")
                        .Key("Id").BeforeSend("dvtm")
                        )
                        .DataSourceOptions(s => s.Filter("[['LoaiDonViId','<>',2585],'and',['LoaiDonViId','<>',2228],'and',['TrangThaiId','=',4]]"))
                        .DisplayExpr("TenDonVi").ValueExpr("Id")
                        .Value(Model.DatPhong.DeNghi.DonViId)
                        .DeferRendering(true)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        .ReadOnly(true)
                        )
                </div>
            </div>
            <div class="col">
                <div class="dx-field-label">Tên khách</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Lookup().ID("KhachId").Name("KhachId")
                        //.DataSource(Model.DanhSachKhach)
                        //.DisplayExpr("TenKhach").ValueExpr("Id")
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        .Value(Model.DatPhong.KhachId)
                        //.ReadOnly(true)
                        )
                </div>
            </div>
        </div>
    </div>

    <!-- Thông tin lịch đặt -->
    <div class="dx-field" style="margin-bottom: 30px;">
        <h4 class="show-text"><i class="far fa-calendar"></i> Thông tin lịch đặt</h4>

        <div class="dx-field row">
            <div class="col">
                <div class="dx-field-label">Loại phòng:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DropDownBox().ID("LoaiId").Name("LoaiId")
                        .DataSource(d => d.OData().Version(4)
                        .Url("https://tms.tvu.edu.vn:10220/api/GhLoaiPhongs")
                        .Key("Id").BeforeSend("dvtm")
                        )
                        .DataSourceOptions(s => s.Filter("['TrangThai', '=', false]"))
                        .DisplayExpr(new JS("loai_displayExpr"))
                        .ValueExpr("Id")
                        .Value(Model.DatPhong.Phong.LoaiId)
                        .ShowClearButton(true)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        .ContentTemplate(new TemplateName("listLoaiPhong"))
                       @*  .OnValueChanged(@<text>
                        function (e){
                        var idLoai = e.value;
                        if(idLoai){ LoadPhong(idLoai); }
                        }
                    </text>) *@

                        )
                </div>
            </div>
            <div class="col">
                <div class="dx-field-label">Phòng:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Lookup().ID("PhongId").Name("PhongId")
                        .DataSource(d => d.OData().Version(4)
                        .Url("https://tms.tvu.edu.vn:10220/api/GhPhongs").Expand("Loai")
                        .Key("Id").BeforeSend("dvtm")
                        )
                        .DataSourceOptions(s => s.Filter("['TrangThai', '=', false]"))
                        .ValueExpr("Id")
                        .DisplayExpr(new JS("phong_displayExpr"))
                        //.Value(Model.phongID > 0 ? Model.phongID : null)
                        .Value(Model.DatPhong.PhongId)
                        .ShowClearButton(true)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        .OnValueChanged(@<text>
                        function (e){
                        var idPhong = e.value;
                        if(idPhong){ LoadLoai(idPhong); }
                        }
                    </text>)
                        )
                </div>
            </div>
        </div>
        <!-- Biểu tượng loading-->
        <div id="loading" style="display: none;color: #007bff; margin-top:5px;">
            &nbsp; <i class="fas fa-spinner"></i> Đang tải thông tin phòng ...
        </div>

        <div class="dx-field row">
            <div class="col">
                <div class="dx-field-label">Từ ngày:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox().ID("TuNgay").Name("TuNgay")
                        .Type(DateBoxType.DateTime).DisplayFormat("dd/MM/yyyy HH:mm:ss")
                       // .Value(Request.Query["start"].ToString() != "" ? DateTime.Parse(Request.Query["start"].ToString()) : DateTime.Now)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        //.DisabledDates("DisabledDate")
                        .ReadOnly(true)
                        )
                </div>
            </div>
            <div class="col">
                <div class="dx-field-label">Đến ngày:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox().ID("DenNgay").Name("DenNgay")
                        .Type(DateBoxType.DateTime).DisplayFormat("dd/MM/yyyy HH:mm:ss")
                      //  .Value(Request.Query["end"].ToString() != "" ? DateTime.Parse(Request.Query["end"].ToString()) : DateTime.Now)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        //.DisabledDates("DisabledDate")
                        .ReadOnly(true)
                        )
                </div>
            </div>
        </div>
        <div class="dx-field row">
            <div class="col">
                <div class="dx-field-label">Nguyên ngày:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().CheckBox().ID("AllDay").Name("AllDay")
                     //   .Value(Model.DatPhong != null ? Model.DatPhong.AllDay : false)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        //.OnValueChanged("CheckAllDay")
                        .ReadOnly(true)
                        )
                </div>
            </div>
        </div>

        <div class="dx-field row" style="margin-right: -15px !important; margin-left: -15px !important;">
            <div class="col">
                <div class="dx-field-label">Ghi chú:</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextArea().ID("GhiChu").Name("GhiChu")
                        .Height(100)
                        .ValidationMessageMode(ValidationMessageMode.Always)
                        //.Value(Model.DatPhong != null ? Model.DatPhong.GhiChu : null)
                        .Value("Đã chỉnh sửa lịch sau khi không duyệt")
                        .ReadOnly(true)
                        )
                </div>
            </div>
        </div>
    </div>

    <div class="dx-field">
        @(Html.DevExtreme().Button()
            .ID("btndat")
            .Icon("far fa-calendar-alt")
            .Text("Cạp nhật")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
            )

        @(Html.DevExtreme().Button()
            .ID("btnhuy")
            .Icon("fas fa-times")
            .Text("Hủy")
            .Type(ButtonType.Normal)
            .OnClick("function() { window.location.href = '/NhaKhach/DanhSachDeNghi'; }")
            )
    </div>

</form>


<script>
    //Hiển trị người đặt
    function nguoidat_displayExpr(item) {
        if (!item) {
            return "";
        }
      return item.Ho + " " + (item.TenDem == "null" || item.TenDem == null ? "" : item.TenDem) + " " + item.Ten + (item.TaiKhoan == null || item.TaiKhoan == "" ? "" : " (" + item.TaiKhoan[0].Email + ")");    
    }


    //Hiển thị đề nghị
    function denghi_displayExpr(item) {
        if (!item) {
            return "";
        }
        return "Đề nghị " + item.Id + " ( " + item.SoLuongKhach + " khách )";
    }

    //Hiển thị loại phòng
    function loai_displayExpr(item) {
        if (!item) {
            return "";
        }
        return item.MaLoai + " - " + item.TenLoai;
    }

    //Hiển thị phòng
    function phong_displayExpr(item) {
        if (!item) {
            return "";
        }
        return item.MaPhong + " - " + item.TenPhong;
    }
</script>